
.vs/chatloop HOT UI/v16/Server/sqlite3/storage.ide
.vs/chatloop HOT UI/v16/Server/sqlite3/storage.ide-shm
.vs/chatloop HOT UI/v16/Server/sqlite3/db.lock
.vs/chatloop HOT UI/v16/Server/sqlite3/storage.ide-wal
.vs/chatloop HOT UI/v16/.suo
*.cache
